<div class="container-big-card">
  <div class="big-card-image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" alt="image_placeholder" srcset="">
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
  </div>
  <div class="big-card-description">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum quia consectetur, distinctio temporibus ratione recusandae culpa commodi mollitia officia ducimus quas explicabo animi cupiditate. Placeat accusamus vitae distinctio id fugit?</p>
  </div>
</div>
