<a href="#">
  <div class="small-card-container">
    <div class="small-card-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
        alt="image_placeholder">
    </div>
    <div class="text-container">
      <div class="small-card-title">
        <h1>Novo Angular 30</h1>
      </div>
      <div class="small-card-description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsam magni nemo veniam dignissimos
          consequatur
        </p>
      </div>
    </div>
  </div>
</a>
